@import "../../../../node_modules/bootswatch/dist/flatly/_variables.scss";

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout-primary {
  border-left-color: $primary;
}
.bs-callout-primary h4 {
  color: $primary;
}
.bs-callout-success {
  border-left-color: $success;
}
.bs-callout-success h4 {
  color: $success;
}
.bs-callout-danger {
  border-left-color: $danger;
}
.bs-callout-danger h4 {
  color: $danger;
}
.bs-callout-warning {
  border-left-color: $warning;
}
.bs-callout-warning h4 {
  color: $warning;
}
.bs-callout-info {
  border-left-color: $info;
}
.bs-callout-info h4 {
  color: $info;
}