.collapsible-container {
  padding: 8px;

  &.collapsed {
    cursor: pointer;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 8px;

    .step-number {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #EEE;
      border-radius: 50%;
      background: #e74c3c;
      color: white;
      width: 30px;
      height: 30px;
      margin-right: 16px;
    }

    .title {
      flex: 1 0;
      display: flex;
      align-items: center;

      h3 {
        // Override this because this breaks
        // align-items: center
        margin-bottom: 0;
      }
    }

    .action-button {
      flex: 0 1 32px;
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      cursor: pointer;

    }
  }

  .collapsible-content {
    // padding-left: 16px;
    // padding-right: 16px;
  }

}