@import "../../../../node_modules/bootswatch/dist/flatly/_variables.scss";

.home {
}


.auth-form-container {
  display: flex;
  justify-content: center;

  .auth-form {
    width: 300px;
    padding: 16px;
  }

  .primary {
    border: 1px solid $primary;
  }

  .info {
    border: 1px solid $info;
  }
}
