/**
 * HEADER START
 */
.header {
  display: flex;
  justify-content: center;
  background: #EEE;
  padding: 8px 0;
}

.header .brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-name {
  font-size: 2rem;
  font-weight: bold;
}

.brand-slogan {
  font-family: monospace;
  font-size: 1.5rem;
}

/**
 * HEADER END
 */


/**
 * SECTION 1 START
 */
.section-1, .section-2, .section-3 {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 500px) {
  .section-1, .section-2, .section-3 {
    flex-direction: column;
  }
}

.section-1, .section-2, .section-3 {
  height: 500px;
}

.section-1 .section-1-left,
.section-2 .section-2-left,
.section-3 .section-3-left,
.section-4 .section-4-left {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
}

.section-1 .section-1-right,
.section-2 .section-2-right,
.section-3 .section-3-right,
.section-4 .section-4-right {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;

  overflow: auto;
  max-height: 500px;
}

.section-2 {
  background: #f4f6f8;
}
.section-2 .section-2-left,
.section-2 .section-2-right {
  /*padding: 16px;*/
}

.img-container {
  height: 400px;
  width: auto;
}
@media only screen and (max-width: 500px) {
  .img-container {
    height: 100%;
  }
}

.section-1 .section-1-right img {
  height: auto;
  max-width:100%;
  max-height:100%;
}

.message-line-1 {
  font-size: 25px;
}
.message-line-2 {
  font-size: 40px;
}
.message-line-3 {
  font-size: 25px;
}


.code-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 8px;
  font-family: monospace;
  word-break: break-word;
  background: #f5deb3;
}

.code-text {
  padding: 4px;
}

.comment-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 8px;
  font-family: monospace;
  word-break: break-word;
  max-width: 250px;
  background: #EEE;
}


pre {
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  background: #EEE;
  word-wrap: break-word;
}

/**
 * SECTION 1 END
 */