@import "../../node_modules/bootswatch/dist/flatly/_variables.scss";

.plus-btn {
  color: $green;
  cursor: pointer;
}

.remove-btn {
  color: $danger;
  cursor: pointer;
}

.error {
  padding: 8px;
  border: 1px solid red;
  border-radius: 4px;
  background: #ffd8d8;
  color: red;
}