/**
 * // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
 */

@import "../../node_modules/bootswatch/dist/flatly/_variables.scss";

.online-seva-container {
  display: flex;
  border: 1px solid red;

  .sidebar {
    flex: 0 0 200px;
    height: 100vh;
    background: #EEE;
    border: 1px solid #AAA;

    .menu-container {
      .menu-item {
        padding: 8px;
        cursor: pointer;
        background: white;
        border: 1px solid #EEE;
      }
    }
  }

  .content {
    flex-shrink: 0;
    flex-grow: 1;
    margin: 24px 16px;
    padding: 24px;
    background: white;
    min-height: 280px;
  }
}

.seva-items {
  max-height: 356px;
  overflow: scroll;

  .seva-item {
    display: flex;
    flex-direction: row-reverse;
    min-height: 80px;
    padding-left: 8px;
    border-bottom: 1px solid #FCE4EC;
    cursor: pointer;

    .column-1 {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;

      .name {
        font-size: 1.2em;
        color: #1E88E5;
      }

      .price {
        font-size: 0.8em;
        color: #8E24AA;
      }
    }

    .column-2 {
      display: none;
      flex-direction: column;
      justify-content: center;
      flex-basis: 40px;
      font-size: 2em;
      color: #66B34E;
    }

    &.selected {
      background: #D7D7D7;

      .column-2 {
        display: flex;
      }
    }
  }
}

.payment-details-container {
  max-width: 500px;
}


.confirmation {
  .title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .sub-title {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2;
  }

  .sub-details {
    padding-left: 12px;

    .row {
      margin-bottom: 16px;
    }
  }

  .key {
    font-weight: 700;
  }
  .value {
    color: #999;
    font-weight: 700;
  }
}





// AdminSeva.js
.empty-sevas {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #EEE;
  border-radius: 5px;
  background: #EEE;

  .heading {
    margin-bottom: 32px;
  }
}



// Admin Seva list
.admin-seva-list {
  display: flex;
  flex-direction: row;
  padding: 16px;
  border: 1px solid #EEE;

  .seva-details {
    flex: 1;
    .seva-name {
    }
    .seva-price {

    }
  }

  .seva-menu {
    flex: 0;

    .icon-and-text {
      cursor: pointer;
    }
  }
}



// Section-divider
.section-divider {
  height: 0;
  border-top: 1px solid #DDD;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-divider > span {
  color: #3498db;
  background: #FAFAFA;
  display: inline-block;
  position: relative;
  padding: 0 17px;
  top: -11px;
  font-size: 15px;
}

// PRE block
pre {
  background: #ECEFF1;
  color: #78909C;
  border-radius: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 8px;

  .tags {
    color: #263238;
  }
  .classes {
    color: #546E7A;
  }
  .class-names {
    color: #E91E63;
  }
}



// ADMIN Booking list
.admin-booking-list {
  display: flex;
  flex-direction: column;

  .admin-booking-list-item {
    padding: 16px;
    border: 1px solid #EEE;


    .key {
      text-align: left;

      @media (min-width: 576px) {
        text-align: right;
      }

      color: $secondary;
    }

  }
}